$primary-color: #fca12a;

.ProjectItem {
  width: 100%;

  &__descriptionContainer {
    display: flex;
    margin-bottom: 10px;
  }

  &__imageContainer {
    width: 500px;
    min-width: 500px;
    padding: 20px 10px;
  }

  &__image {
    width: 100%;
  }

  &__descriptionContainer {
    padding: 20px 40px;
    background: #efefef;
  }
  &__detailsContainer {
    width: 100%;
  }

  &__titleContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: -40px;
  }

  &__title {
    background: $primary-color;
    padding: 10px 20px;
    max-width: 230px;
  }

  &__name {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    color: #fff;
  }

  &__date {
    font-size: 14px;
    color: #efefef;
    text-align: right;
  }

  &__imageGallery {
    width: 600px;
  }

  &__imageZoomBtn {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    background: $primary-color;
    color: #fff;
    border-radius: 50%;
    border: none;
    font-size: 18px;
  }

  &__image {
    display: block;
    width: 100%;
    height: 450px;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
  }

  &__imageContainer {
    height: 0;
    padding-top: 450px;
    position: relative;

    &:hover {
      & .ProjectItem__imageZoomBtn {
        display: block;
      }
    }

  }

  &__description {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: justify;
  }

  &__descriptionTitle{
    font-size: 16px;
  }
}

