$primary-color: #fca12a;
$secondary-color: #17639d;
$text-color: #717274;
$text-color-secondary: #24292e;
$navbar-vertical-padding: 10px;

$toggleBreakPoint: 900px;

.Navigation {
  &__container {
    display: flex;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1224px;
    @media (max-width: $toggleBreakPoint) {
      flex-direction: column;
    }
  }

  &__logo {
    padding-top: 15px;
    display: block;

  }
  &__logoContainer {
    height: 95px;
    display: flex;
    @media (max-width: $toggleBreakPoint) {
      width: 100%;
    }
  }

  &__toggleButtonContainer {
    display: none;
    margin-left: auto;
    align-items: center;
    @media (max-width: $toggleBreakPoint) {
      display: block;
    }
  }

  &__toggleButton {
    height: 100%;
    font-size: 30px;
    color: #fff;
    background: none;
    border: none;

    &:visited, &:focus{
      outline: none;
    }
  }

  &__togglePart {
    flex-grow: 2;
    height: 100%;
    display: flex;
    @media (max-width: $toggleBreakPoint) {
      display: none;
    }
  }

  &__bar {
    padding-left: 50px;
    flex-grow: 2;
  }
  &_secondary {
    background: #17639d;
  }

  &_open {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    background: #17639d;
    z-index: 10;
    top: 0;
    left: 0;

    .Navigation__container{
      min-height: 100vh;
    }

    .Navigation__togglePart {
      display: flex;
      flex-direction: column;
    }

    .Navigation__bar {
      padding: 0;
      margin-top: 40px;
    }


    .MainNavbar {
      flex-grow: 2;
      flex-direction: column;

      &__item:first-child{
        border-top:1px solid #ffffff;
      }
      &__item {
        &:before {
          display:none;
        }

      }

      &__link{
        justify-content: center;
        border-bottom: 1px solid #ffffff;
        padding:10px 0;
      }
    }

    .NavbarContact__label{
      display: none;
    }
    .NavbarContact__description{
      margin: 0 auto;
    }
  }

}

.Logo {
  max-height: 80px;
}

.MainNavbar {
  display: flex;
  height: 100%;
  list-style-type: none;

  &__item {
    margin-right: 30px;
    position: relative;

    &:before {
      position: absolute;
      right: -17px;
      top: 50%;
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $primary-color;
      margin-top: $navbar-vertical-padding/2 - 4;
    }

    &:last-child {
      &:before {
        display: none;
      }
    }
  }

  &__link {
    height: 100%;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: $navbar-vertical-padding;

    &:hover {
      background: $primary-color;
      color: $secondary-color;
      text-decoration: none;
    }
  }
}

.NavbarContact {
  width: 100%;
  height: 100%;
  display: flex;
  padding-bottom: 15px;

  &__label {
    width: 50px;
    height: 100%;
    position: relative;
    margin-right: 10px;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 25px;
      display: block;
      background: $primary-color;
    }

    &:before {
      content: "";
      position: absolute;;
      bottom: 0;
      height: 50px;
      width: 100%;
      border-radius: 50%;
      background: $primary-color;
    }
  }

  &__icon {
    position: absolute;
    z-index: 100;
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    bottom: 5px;
    left: 5px;
  }

  &__description {
    padding-top: $navbar-vertical-padding;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__descriptionItem {
    padding: 5px;
  }

  &__descriptionIcon {
    max-width: 24px;
    margin-right: 7px;
  }
}
