@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../../node_modules/slick-carousel/slick/slick.css";
@import "../../../../node_modules/slick-carousel/slick/slick-theme.css";

$primary-color: #fca12a;
$secondary-color: #17639d;
$text-color: #717274;
$text-color-secondary: #24292e;

* {
  margin: 0;
  padding: 0;
}

html,
body, #root {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper_noScroll {
  overflow: hidden;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

// common styles
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1224px;
}

.btn-primary {
  color: #fff;
  background: $primary-color;
  border-radius: 20px;
  border: 2px solid $primary-color;
  padding: 5px 20px;

  &:hover {
    background: none;
    color: $primary-color;
    border: 2px solid $primary-color;
  }
}

.block-title {
  font-size: 24px;
  padding: 10px 0;
  position: relative;
  color: #000000;
  font-weight: bold;
  margin-bottom: 15px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 5px;
    background: $primary-color;
  }
}

.layout {
  &__content {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
  }

  &__leftSidebar {
    min-width: 230px;
  }

  &__page {
    padding: 0 20px;
  }

  &__makeOrderBtn {
    width: 100%
  }
}

$navbar-vertical-padding: 10px;
// main view

// ADVANTAGES
.advantages {
  padding-top: 20px;
  padding-bottom: 40px;
}

.advantage {
  &__label {
    text-align: center;
    position: relative;
  }
  &__img {
    max-width: 80px;
  }

  &__title {
    margin: 10px auto;
    max-width: 160px;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    position: relative;
    &:before {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 12px;
      height: 12px;
      margin-left: -6px;
      background: $primary-color;
      border-radius: 50%;
      content: '';
    }
  }
  &__content {
    text-align: center;
    font-size: 18px;

  }
}
