.FeedbackItem {

  display: flex;
  margin-bottom: 30px;

  @media (max-width: 800px) {
    flex-direction: column;
  }
  &__imageContainer {
    padding: 15px;
  }

  &__image {
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }

  &__content {
    padding: 20px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      max-width: 300px;
      height: 1px;
      background: #fca12a;
      left: 0;
      bottom: 0;

      @media (max-width: 800px) {
        left: 50%;
        margin-left: -150px;
      }
    }

  }

  &__personName {
    font-size: 18px;
    font-weight: bold;
    @media (max-width: 800px) {
      text-align: center;
    }
  }

  &__date {
    font-size: 12px;
    color: #717274;
    @media (max-width: 800px) {
      text-align: center;
    }
  }

  &__text {
    margin-top: 15px;
    padding-left: 40px;
    position: relative;
    &:after {
      content: "\f10d";
      position: absolute;
      top: 0;
      left: 0;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 26px;
    }
  }

}