.PieComponent {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  &.PieComponent__horizonal{
    flex-direction: row;
  }

  &__pieContainer {
    flex-grow: 1;
  }

  &__legend {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
