.ReportModule {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &__title {
    padding: 10px 20px;
    background: #242a30;
    color: #fff;
  }

  &__content {
    padding: 10px 20px;
    background: #fff;
    flex-grow: 1;
  }

  &__legend {

  }
}