.Layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__contentContainer {
    flex: 1 0 auto;
  }

  &__content {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1224px;

    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;

    @media (max-width: 900px) {
      flex-direction: column;
    }
  }

  &__leftSidebar{
    min-width: 230px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__page{
    padding: 0 20px;
    width: 100%;
  }

  &_noScroll{
    overflow: hidden;
  }
}