.tableWrapper {
  width: 100%;

  &__title {
    padding: 10px 20px;
    background: #242a30;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }

  &__content {
    padding: 20px;
    background: #fff;
  }

  &__tableBar {

  }

  &__table{
    margin-top: 20px;
  }
}