.ProjectItem {
  padding: 0 0 40px 0;
  width: 100%;
  display: flex;

  position: relative;

  @media (max-width: 700px) {
    flex-direction: column;
  }

  &__descriptionContainer {

  }

  &:after {
    position: absolute;
    content: '';
    height: 1px;
    background: #fca12a;

    width: 300px;
    left: 50%;
    bottom: 20px;
    margin-left: -150px;
  }

  &__imageContainer {
    width: 100%;
    max-width: 250px;
    @media (max-width: 700px) {
      max-width: none;
      margin-bottom: 10px;
    }
  }

  &__image {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__descriptionContainer {
    padding: 0 20px;
  }

  &__date {
    font-size: 12px;
    color: #717274;
  }

  &__name {
    font-size: 18px;
    font-weight: bold;
  }

  &__description {
    margin-top: 15px;
  }

  &__link{
    margin-bottom: 10px;
    text-align: right;
  }
}